*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* sage green:#8A9A5B 
    royal yellow : #FADA5E
    gray:#808080

    Photo by <a href="https://unsplash.com/@amirvisuals?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Amir Esrafili</a> on <a href="https://unsplash.com/photos/man-in-black-long-sleeve-shirt-mzBfIKuNBxI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    Photo by <a href="https://unsplash.com/@hawkhassaan?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Hawk Hassaan</a> on <a href="https://unsplash.com/photos/green-trees-on-island-during-daytime-bNNS4inRa38?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    Photo by <a href="https://unsplash.com/@alexblock?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Alex Block</a> on <a href="https://unsplash.com/photos/man-lying-on-white-boat-R-vEolhiyAY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  

*/